section{
    margin: 0 2%;
  }
  
  /**Header et menu de navigation**/
  .rectangle1 {
      width: 100%;
      height: 35px;
      background-color:rgb(173, 105, 116);
  }
  
  #header {
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  header h1 {
      font-family: 'Mr Dafoe', cursive;
      font-size: 40px;
      width:25%;
      text-align: center;
  }
  
  header h2 {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 40px;
      widows: 20%;
      text-align: center;
  }
  
  header ul {
      list-style-type: none;
      background-color: ;
      display: flex;
      justify-content: space-around;
      font-size: 25px;
      color: black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  nav {
      width:75%;
  }
  
  a {
      text-decoration: none;
      color:black
  }
  
  .pictos{
    height: 35px;
  }
  
  .traitVerticalGauche {
  background-color: black;
  height:150px;
  width: 2px;
  }
  
  .traitVerticalDroite {
  background-color: black;
  height: 250px;
  width: 2px;
  }
  
  .traitHorizontal {
  background-color: black;
  width: 52%;
  height: 2px;
  }
  
  .pointNoir {
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  margin: 4px;
  }
  
  .elementGraphiqueVerticalGauche {
  display:flex;
  flex-direction:column;
  align-items: center;
  margin-top: 25px;
  margin-left: none;
  }
  
  .elementGraphiqueVerticalDroite {
  display:flex;
  flex-direction:column;
  align-items: center;
  margin-top:25px;
  }
  
  .elementGraphiqueHorizontalBas {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left:120px;
  margin-bottom:15px;
  }

  #presentationColonneGauche{
    display:flex;
    flex-direction:column;
    align-items: center;
  }

  #presentation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  }
  
  #presentationText{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .pictoRS {
  width: 2px;
  height: 2px;
  margin-top:200px;
  }
  
  #boxPink {
      background-color: rgb(248, 205, 148);
      width: 200px;
      position: relative top:30px left:30px;
  }

  .boxPink p {
      text-align: center;
      background-color: #fabc98;
      font-size:18px;
      margin: 15% 30%;
      padding: 25px;
      box-shadow:28px 28px 0px rgb(173, 105, 116);
  }

  .boxPink {
    width: 65%;
  }


.boxNude p {
    text-align: center;
    background-color:#fabc98;
    margin:15% 30%;
    padding:25px;
    box-shadow:28px 28px 0px grey;
}

.boxNude {
    width:65%;
}

#boxNude {
background-color:rgb(248, 205, 148);
width:200px;
position: relative top:30px left:30px;
margin:10% 35%;
padding:15px;
}

#boxGrey {
    background-color:rgb(173, 105, 116);
    width:200px;
    position: relative top:10px left:15px;
}

.boxGrey p {
    text-align:center;
    background-color:rgb(173, 105, 116);
    margin: 25% 35%;
    padding:15px;
    box-shadow:28px 28px 0px grey;
}

.boxGrey {
    width:50%;
    }

  #presentationImg {
    width: 35%;
    display: flex;
    justify-content: center;
    border-left:10px solid grey;
    margin-top:25px;
  }

  #presentationImg img{
    width: 65%;
    margin-left:40px;
  }

#diplomes {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

#formation {
    display:flex;
    flex-direction:row;
    margin:15px;
}

  /**Page 5**/

.contact {
    background-image:url(../images/pagecontact.jpg);
    background-attachment:fixed;
    background-size:cover;
}

#logo {
    font-family: 'Mr Dafoe', cursive;
    font-size: 40px;
    padding:300px;
}

#citation {
    font-family: 'Mr Dafoe', cursive;
    font-size:20px;
}

.infosContact p {
    width:15%;
    height:5%;
    text-align: center;
    font-family: Calibri;
    font-size:20px;
    color:white;
    border:solid;
    border-color:grey;
    background-color:rgb(248, 205, 148);
    position: fixed 50px 15px 15px 300px;
}

  /**@media screen and (min-width: 480px max-width: 1400px )**/
  
  @media screen and (max-width:992px) {
      #navbar ul {
          display:column;
      }
      footer{
          text-align: center;
      }
  }
  
  @media screen and (max-width: 680px) {
      a, form {
          display:none;
      }
  
  }
  

